@tailwind base;
@tailwind components;
@tailwind utilities;

/* @custom-variant dark (&:where(.dark, .dark *)); */
/* @layer components {
  .dark & {
    @apply dark;
  }
} */

@layer base {
  img {
    @apply h-auto shrink-0;
    max-width: 100%;
    display: block;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  input[type=text] {
    @apply border border-grey-c7 text-t12 sm:text-t14 dark:bg-white/20;
    outline: 0;
    outline-offset: 0;
  }
  input[type=text]:hover {
    @apply lg:border lg:border-grey-20/50 dark:lg:bg-white/20 dark:lg:border-white;
    outline: 0;
    outline-offset: 0;
  }
  input[type=text]:focus {
    @apply border border-blue dark:bg-white/20;
    outline: 0;
    outline-offset: 0;
  }
  input[type=checkbox] {
    @apply shrink-0;
  }
  input[type=checkbox]:not(:checked) {
    @apply opacity-40;
    outline: 0;
    outline-offset: 0;
  }
  hr {
    border-top-width: 0px;
  }
  html {
    @apply scroll-smooth text-t16;
    /* text-lg sm:text-sm  */
  }
  body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    @apply text-grey-20 dark:text-white text-t14;

    /* &.dark {
      @apply text-white;
    } */
  }
  h1 {
    @apply text-t20 sm:text-h1 font-bold;
  }
  /* h2 {
    @apply text-h2 sm:text-h2sm uppercase font-bold;
  } */
}

@layer components {
  .input {
    @apply p-3 rounded-lg w-[317px] max-w-full h-8 sm:h-10;
  }
  .blue-btn {
    @apply bg-blue text-white flex justify-center items-center text-t12 sm:text-t13 px-3 sm:px-4 rounded-lg h-8 sm:h-10 lg:hover:bg-blue/80 cursor-pointer tracking-tight;
  }
  .grey-btn {
    @apply text-grey-20  flex justify-center items-center text-t12 sm:text-t13 px-3 sm:px-4 rounded-lg h-8 sm:h-10 lg:hover:bg-grey-20/5 cursor-pointer font-semibold tracking-tight dark:text-blue dark:lg:hover:bg-blue/10;
  }
}

@layer utilities {
  .custom-scrollbar {
    &::-webkit-scrollbar {
      width: 4px;
      /* height: 80px; */
      border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
      @apply dark:bg-grey-8f/50;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-grey-20/10 dark:bg-grey-c7;
      outline: none;
      border-radius: 100px;
    }
  }
}
